[Unit]
Description=Make Jobserver

[Service]
# The default will use 'nproc' to determine the number of job slots:
ExecStart=/usr/local/bin/start_jobserver
# Or, you can choose a specific number of job slots:
#ExecStart=/usr/local/bin/start_jobserver 8

[Install]
WantedBy=default.target
